@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group{
    padding:5rem 10rem;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    
    background: linear-gradient(90.45deg, #E9631F 33.68%, #F29321 77.38%);
}
.navbar-brand{
    font-size: large;
}

.form-label{
    font-size: 3rem;
}

.publish-button{
    margin-left: 650px;
}

.body{
    background-color: black;
}
